@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Example</h1>
    <p>Proyecto desarrollado para el curso de Microservicios con .NET Core.</p>


    <hr />

    <div>
        <h3><b>Bienvenido</b>, que bueno tener aquí de nuevo.</h3>
    </div>
</div>
